# dependencies
node_modules/

# build output
dist/
build/

# storybook static build
storybook-static/

# logs
*.log
pnpm-debug.log*
npm-debug.log*

# env files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# coverage
coverage/